@model li4_backend.Models.LocalInteresse

@{
ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>
<h3>Tem a certeza que pretende eliminar?</h3>

@using (Html.BeginForm("Eliminar"))
{
<div class="form-horizontal">
  <h4>LocalInteresse</h4>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <div class="container">
        <div class="form-group">
          @Html.DisplayNameFor(model => model.id_local_interesse)
          <div class="col-md-offset-4">
            @Html.DisplayFor(model => model.id_local_interesse)
          </div>
        </div>

        <div class="form-group">
          @Html.DisplayNameFor(model => model.data_registo)
          <div class="col-md-offset-4">
            @Html.DisplayFor(model => model.data_registo)
          </div>
        </div>

        <div class="form-group">
          @Html.DisplayNameFor(model => model.data_intervencao)
          <div class="col-md-offset-4">
            @Html.DisplayFor(model => model.data_intervencao)
          </div>
        </div>

        <div class="form-group">
          @Html.DisplayNameFor(model => model.inf_adicional)
          <div class="col-md-offset-4">
            @Html.DisplayFor(model => model.inf_adicional)
          </div>
        </div>

        <div class="form-group">
          @Html.DisplayNameFor(model => model.numero_voluntarios)
          <div class="col-md-offset-4">
            @Html.DisplayFor(model => model.numero_voluntarios)
          </div>
        </div>

        <div class="form-group">
          @Html.DisplayNameFor(model => model.latitude)
          <div class="col-md-offset-4">
            @Html.DisplayFor(model => model.latitude)
          </div>
        </div>

        <div class="form-group">
          @Html.DisplayNameFor(model => model.longitude)
          <div class="col-md-offset-4">
            @Html.DisplayFor(model => model.longitude)
          </div>
        </div>
        <div class="form-actions no-color">
          <input type="submit" value="Eliminar" class="btn btn-default" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="text-center">Localização do Local de Intervenção</h3>
      <div id="map-li4-1" style="width: 100%; height: 480px; margin-bottom: 2px;"></div>
    </div>
  </div>
</div>
}

<div class="row">

  <div>
    @Html.ActionLink("Voltar", "Index")
  </div>

  @section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
  }
</div>
