@model IEnumerable<li4_backend.Models.LocalInteresse>

@{
ViewBag.Title = "Index";
}

<h2>Localização de todos os locais de interesse</h2>
<h4></h4>
<div id="map_canvas" style="width:100%; height:300px;"></div>
<script type="text/javascript">

    var markersArray = [];
    function initialize() {
        var latlng = new google.maps.LatLng(50, 20);
        var options = {
            zoom: 3, center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById
			("map_canvas"), options);

        @foreach(var item in Model)
        {
            <text>
        console.log(@item.latitude)
        console.log(@item.longitude)

        markersArray.push(new google.maps.Marker({
            draggable: false,
            animation: google.maps.Animation.DROP,
            position: new google.maps.LatLng('@item.latitude', '@item.longitude', false),
            url: '@Url.Action("Detalhe", "LocalInteresse", new { id = item.id_local_interesse })',
            title: 'Id local de interesse: '+'@item.id_local_interesse',
            map: map
        }));
        console.log(markersArray.length);
        google.maps.event.addListener(markersArray[markersArray.length - 1], 'click', function () {
            window.location.href = '@Url.Action("Detalhe", "LocalInteresse", new { id = item.id_local_interesse })';
        });

        </text>
        }
    }
    $(function () {
        initialize();
    });

</script>


<p>
@Html.ActionLink("Adicionar Local Interesse", "Criar")
</p>
<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.id_local_interesse )
    </th>
    <th>
      @Html.DisplayNameFor(model => model.data_registo)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.data_intervencao)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.inf_adicional)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.numero_voluntarios)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.latitude)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.longitude)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model) {
  <tr>
    <td>
      @Html.DisplayFor(modelItem => item.id_local_interesse )
    </td>
    <td>
      @Html.DisplayFor(modelItem => item.data_registo)
    </td>
    <td>
      @Html.DisplayFor(modelItem => item.data_intervencao)
    </td>
    <td>
      @Html.DisplayFor(modelItem => item.inf_adicional)
    </td>
    <td>
      @Html.DisplayFor(modelItem => item.numero_voluntarios)
    </td>
    <td>
      @Html.DisplayFor(modelItem => item.latitude)
    </td>
    <td>
      @Html.DisplayFor(modelItem => item.longitude)
    </td>
    <td>
      @Html.ActionLink("Editar", "Editar", new { id=item.id_local_interesse }) |
      @Html.ActionLink("Detalhe", "Detalhe", new { id=item.id_local_interesse }) |
      @Html.ActionLink("Eliminar", "Eliminar", new { id=item.id_local_interesse })
    </td>
  </tr>
  }


</table>

<p>
    @Html.ActionLink("Adicionar Local Interesse", "Criar")
</p>