<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refugee Assist - LI IV</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7lGfBvhst2b6mIwWMH6g7j7HKLVDrGQw&sensor=false"></script>
    <script type="text/javascript">
        var map;
        var mapa2;
        var mapa_registo;
        var mapa_actual;


        var marker;
        var lat;
        var long;

        var marker2;
        var lat2;
        var long2;

        var lat_registo;
        var long_registo;
        var marker_registo;

        var lat_actual;
        var long_actual;
        var marker_actual;

        var line = null;
        var lineSelected = null;
        var marcador = 0;
        var marcador2 = 0;
        var marcador_registo = 0;
        var marcador_actual = 0;

        function mapa() {

            lat = 41.559634;
            long = -8.397293;

            lat2 = 41.559634;
            long2 = -8.397293;

            lat_registo = 41.559634;
            long_registo = -8.397293;

            lat_actual = 41.559634;
            long_actual = -8.397293;

            if (document.getElementById('latitude') != null && document.getElementById('longitude') != null) {

                lat = document.getElementById('latitude').value;
                long = document.getElementById('longitude').value;
                if (lat == "" || long == "") {
                    console.log("nao tem lat e long");
                    lat = 41.559634;
                    long = -8.397293;
                    console.log(lat);
                    console.log(long);
                    marcador = 0;
                }
                else {
                    console.log("já tem lat e long");
                    console.log(lat);
                    console.log(long);
                    marcador = 1;
                }
            }

            if (document.getElementById('localizacao_latitude') != null && document.getElementById('localizacao_longitude') != null) {

                lat2 = document.getElementById('localizacao_latitude').value;
                long2 = document.getElementById('localizacao_longitude').value;
                if (lat2 == "" || long2 == "") {
                    console.log("nao tem lat2 e long2");
                    lat2 = 41.559634;
                    long2 = -8.397293;
                    console.log(lat2);
                    console.log(long2);
                    marcador2 = 0;
                }
                else {
                    console.log("já tem lat2 e long2");
                    console.log(lat2);
                    console.log(long2);
                    marcador2 = 1;
                }
            }

            if (document.getElementById('local_registo_latitude') != null && document.getElementById('local_registo_longitude') != null) {

                lat_registo = document.getElementById('local_registo_latitude').value;
                long_registo = document.getElementById('local_registo_longitude').value;
                if (lat_registo == "" || long_registo == "") {
                    console.log("nao tem lat_registo e long_registo");
                    lat_registo = 41.559634;
                    long_registo = -8.397293;
                    console.log(lat_registo);
                    console.log(long_registo);
                    marcador_registo = 0;
                }
                else {
                    console.log("já tem lat_registo e long_registo");
                    console.log(lat_registo);
                    console.log(long_registo);
                    marcador_registo = 1;
                }
            }

            if (document.getElementById('localizacao_actual_latitude') != null && document.getElementById('localizacao_actual_longitude') != null) {

                lat_actual = document.getElementById('localizacao_actual_latitude').value;
                long_actual = document.getElementById('localizacao_actual_longitude').value;
                if (lat_actual == "" || long_actual == "") {
                    console.log("nao tem lat_actual e long_actual");
                    lat_actual = 41.559634;
                    long_actual = -8.397293;
                    console.log(lat_actual);
                    console.log(long_actual);
                    marcador_actual = 0;
                }
                else {
                    console.log("já tem lat_actual e long_actual");
                    console.log(lat_actual);
                    console.log(long_actual);
                    marcador_actual = 1;
                }
            }

            var Latlng_0 = new google.maps.LatLng(lat, long);
            var Latlng_2 = new google.maps.LatLng(lat2, long2);
            var Latlng_registo = new google.maps.LatLng(lat_registo, long_registo);
            var Latlng_actual = new google.maps.LatLng(lat_actual, long_actual);


            var opts = {
                center: new google.maps.LatLng(lat, long),
                zoom: 6, 'mapTypeId': google.maps.MapTypeId.ROADMAP,
                center: Latlng_0,
                disableDefaultUI: true,
                draggable: true,
                zoomControl: true,
                scrollwheel: true,
                disableDoubleClickZoom: true
            }

            var opts2 = {
                center: new google.maps.LatLng(lat2, long2),
                zoom: 6, 'mapTypeId': google.maps.MapTypeId.ROADMAP,
                center: Latlng_2,
                disableDefaultUI: true,
                draggable: true,
                zoomControl: true,
                scrollwheel: true,
                disableDoubleClickZoom: true
            }

            var opts_registo = {
                center: new google.maps.LatLng(lat_registo, long_registo),
                zoom: 6, 'mapTypeId': google.maps.MapTypeId.ROADMAP,
                center: Latlng_registo,
                disableDefaultUI: true,
                draggable: true,
                zoomControl: true,
                scrollwheel: true,
                disableDoubleClickZoom: true
            }

            var opts_actual = {
                center: new google.maps.LatLng(lat_actual, long_actual),
                zoom: 6, 'mapTypeId': google.maps.MapTypeId.ROADMAP,
                center: Latlng_actual,
                disableDefaultUI: true,
                draggable: true,
                zoomControl: true,
                scrollwheel: true,
                disableDoubleClickZoom: true
            }

            if (document.getElementById('map-li4-1') != null) {
                map = new google.maps.Map(document.getElementById('map-li4-1'), opts);
                marker = new google.maps.Marker({
                    map: map
                })

                if (marcador == 1) {
                    console.log("vamos colocar marcador");
                    var Latlng_0 = new google.maps.LatLng(lat, long);
                    marker.setPosition(Latlng_0);
                }

                // altera as variaveis lat e long quando rato passa por cima do mapa
                google.maps.event.addListener(map, 'mousemove', function (event) {
                    lat = event.latLng.lat();
                    long = event.latLng.lng();
                });

                // adiciona um marcador quando há um clique do rato
                google.maps.event.addListener(map, 'click', function (event) {
                    lat = event.latLng.lat();
                    long = event.latLng.lng();
                    document.getElementById('latitude').value = lat;
                    document.getElementById('longitude').value = long;
                    console.log("colocado marcador por clique");
                    var Latlng_0 = new google.maps.LatLng(lat, long);
                    marker.setPosition(Latlng_0);
                });

            }

            if (document.getElementById('map-li4-2') != null) {
                mapa2 = new google.maps.Map(document.getElementById('map-li4-2'), opts2);
                marker2 = new google.maps.Marker({
                    map: mapa2
                })

                if (marcador2 == 1) {
                    console.log("vamos colocar marcador no mapa2");
                    var Latlng_2 = new google.maps.LatLng(lat2, long2);
                    marker2.setPosition(Latlng_2);
                }

                // altera as variaveis lat e long quando rato passa por cima do mapa
                google.maps.event.addListener(mapa2, 'mousemove', function (event) {
                    lat2 = event.latLng.lat();
                    long2 = event.latLng.lng();
                });

                // adiciona um marcador quando há um clique do rato
                google.maps.event.addListener(mapa2, 'click', function (event) {
                    lat2 = event.latLng.lat();
                    long2 = event.latLng.lng();
                    document.getElementById('localizacao_latitude').value = lat2;
                    document.getElementById('localizacao_longitude').value = long2;
                    console.log("colocado marcador por clique no mapa2");
                    var Latlng_2 = new google.maps.LatLng(lat2, long2);
                    marker2.setPosition(Latlng_2);
                });
            }

            if (document.getElementById('map-li4-local-registo-refugiado') != null) {
                mapa_registo = new google.maps.Map(document.getElementById('map-li4-local-registo-refugiado'), opts_registo);
                marker_registo = new google.maps.Marker({
                    map: mapa_registo
                })

                if (marcador_registo == 1) {
                    console.log("vamos colocar marcador no mapa registo");
                    var Latlng_registo = new google.maps.LatLng(lat_registo, long_registo);
                    marker_registo.setPosition(Latlng_registo);
                }

                // altera as variaveis lat e long quando rato passa por cima do mapa
                google.maps.event.addListener(mapa_registo, 'mousemove', function (event) {
                    lat_registo = event.latLng.lat();
                    long_registo = event.latLng.lng();
                });

                // adiciona um marcador quando há um clique do rato
                google.maps.event.addListener(mapa_registo, 'click', function (event) {
                    lat_registo = event.latLng.lat();
                    long_registo = event.latLng.lng();
                    document.getElementById('local_registo_latitude').value = lat_registo;
                    document.getElementById('local_registo_longitude').value = long_registo;
                    console.log("colocado marcador por clique no mapa registo");
                    var Latlng_registo = new google.maps.LatLng(lat_registo, long_registo);
                    marker_registo.setPosition(Latlng_registo);
                });
            }

            if (document.getElementById('map-li4-local-actual-refugiado') != null) {
                mapa_actual = new google.maps.Map(document.getElementById('map-li4-local-actual-refugiado'), opts2);
                marker_actual = new google.maps.Marker({
                    map: mapa_actual
                })

                if (marcador_actual == 1) {
                    console.log("vamos colocar marcador no mapa actual");
                    var Latlng_actual = new google.maps.LatLng(lat_actual, long_actual);
                    marker_actual.setPosition(Latlng_actual);
                }

                // altera as variaveis lat e long quando rato passa por cima do mapa
                google.maps.event.addListener(mapa_actual, 'mousemove', function (event) {
                    lat_actual = event.latLng.lat();
                    long_actual = event.latLng.lng();
                });

                // adiciona um marcador quando há um clique do rato
                google.maps.event.addListener(mapa_actual, 'click', function (event) {
                    lat_actual = event.latLng.lat();
                    long_actual = event.latLng.lng();
                    document.getElementById('localizacao_actual_latitude').value = lat_actual;
                    document.getElementById('localizacao_actual_longitude').value = long_actual;
                    console.log("colocado marcador por clique no mapa actual");
                    var Latlng_actual = new google.maps.LatLng(lat_actual, long_actual);
                    marker_actual.setPosition(Latlng_actual);
                });
            }

        }
        google.maps.event.addDomListener(window, 'load', mapa);
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Laboratórios de Informática IV</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
