@model IEnumerable<li4_backend.Models.LocalInteresse>

@{
    ViewBag.Title = "Index";
}

<h2>Localização de todas os locais de interesse</h2>
<h4>Clique para ver seleccionar o local de trabalho de campo</h4>
<div id="map_canvas" style="width:100%; height:470px;"></div>
<script type="text/javascript">

    var markersArray = [];
    function initialize() {
        var latlng = new google.maps.LatLng(50, 20);
        var options = {
            zoom: 3, center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById
			("map_canvas"), options);

        @foreach(var item in Model)
        {
            <text>
        console.log(@item.latitude)
        console.log(@item.longitude)
        var url_estatistica = '@Url.Action("Criar", "LocalIntervencao", new { id = item.id_local_interesse })'
        console.log(url_estatistica)


        markersArray.push(new google.maps.Marker({
            draggable: false,
            animation: google.maps.Animation.DROP,
            position: new google.maps.LatLng('@item.latitude ', '@item.longitude', false),
            url: url_estatistica,
            title: 'Whatever title',
            map: map
        }));
        console.log(markersArray.length);
        google.maps.event.addListener(markersArray[markersArray.length - 1], 'click', function () {
            window.location.href = url_estatistica;
        });

        </text>
        }
    }
    $(function () {
        initialize();
    });

</script>

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}