@model IEnumerable<li4_backend.Models.LocalInteresse>

@{
    ViewBag.Title = "Index";
}

<h2>Existem @ViewBag.numero_locais locais de intervenção disponíveis para selecção</h2>
<h4>Clique para ver seleccionar o local de trabalho de campo</h4>
<div id="map_canvas" style="width:100%; height:470px;"></div>
<script type="text/javascript">

    var markersArray = [];
    function initialize() {
        var latlng = new google.maps.LatLng(50, 20);
        var options = {
            zoom: 3, center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById
			("map_canvas"), options);

        @foreach(var item in Model)
        {
            <text>
        console.log(@item.latitude)
        console.log(@item.longitude)

        markersArray.push(new google.maps.Marker({
            draggable: false,
            animation: google.maps.Animation.DROP,
            position: new google.maps.LatLng('@item.latitude ', '@item.longitude', false),
            url: '@Url.Action("Criar", "LocalIntervencao", new { id = item.id_local_interesse })',
            title: 'Local de intervenção ' + '@item.id_local_interesse',
            map: map
        }));

        console.log(markersArray.length);
        google.maps.event.addListener(markersArray[markersArray.length - 1], 'click', function () {
            window.location.href = '@Url.Action("Criar", "LocalIntervencao", new { id = item.id_local_interesse })';
        });

        </text>
        }
    }
    $(function () {
        initialize();
    });

</script>

<div>

    @Html.ActionLink("Voltar", "IndexUser", "Home", new { id = @ViewBag.id_user, @class = "navbar-brand" }, null)

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}